@import "./includes/_config.scss";

$transition-3s : all .3s ease-in-out;

%header-icon-btn {
  background: none;
  outline: none;
  border: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; 
  line-height: 1;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

%header-icon-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background: $black;
  transition: $transition-3s;
}

%header-menu-wrapper {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  background: $custom-turquoise-blue;
  transition: $transition-3s;
  z-index: 3;
}

%header-menu-link {
  display: block;
  color: $white;
}

%main-contents-animation {
  animation: animatedFadeUp 4s ease-in-out;
  -moz-animation: animatedFadeUp 4s ease-in-out;
  -ms-animation: animatedFadeUp 4s ease-in-out;
  -o-animation: animatedFadeUp 4s ease-in-out;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -o-animation-delay: 3s;
}

body {
  transition: background-color 1s ease;
}

.wrap {
  scroll-behavior: smooth;
}

.bg-color-green {
  background: rgb(0,201,147);
}
.bg-color-blue {
  background: rgb(74,173,255);
}

.custom-cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid $black;
  border-radius: 50%;
  margin: {
    top: -30px;
    left: -30px;
  }
  pointer-events: none;
  z-index: 5;

  @include for-size(medium-width) {
    display: none;
  }

  .more-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    display: flex;
    font-size: 1em;
    color: $custom-light-gray;
    opacity: 0;
  }
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $custom-turquoise-blue;
  z-index: 100;

  h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 5em;
    font-family: $monospace;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @include for-size(small-width) {
      font-size: 3em;
    }
  }
}

.header-container {
  width: 100%;

  .nav-icon-btn {
    @extend %header-icon-btn;
    left: 20px;

    @include for-size(small-width){
      top: 5%;
      transform: none;
      width: 20px;
    }

    .nav-icon-line {
      @extend %header-icon-line;
    }

    &.close-btn {
      z-index: 5;
      transition: $transition-3s;

      .nav-icon-line {
        transform: rotate(45deg);
        background: $white;
      }

      .nav-icon-line:last-child {
        transform: rotate(-45deg) translate3d(8px,-10px,0);
      }
    }
  }

  .header-navigation {
    @extend %header-menu-wrapper;

    &.nav-on {
      width: 80%;
      transition: $transition-3s;

      @include for-size(small-width){
        width: 100%;
      }
    }

    .navigation-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .navigation-items {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        min-width: 210px;
      }

      .navigation-items .navigation-item {
        font-size: 1.5em;
        margin-bottom: 20px;
      }

      .navigation-items .navigation-item > a {
        @extend %header-menu-link;
        line-height: 1.5;

        span {
          display: block;
          font-size: 13px;
        }

        &:hover {
          color: $black;
          transition: color .3s ease;
        }
      }
    }
  }

  .contact-icon-btn {
    @extend %header-icon-btn;
    right: 20px;
    transition: $transition-3s;

    @include for-size(small-width){
      top: 5%;
      transform: none;
      width: 20px;
    }

    .contact-icon-line {
      @extend %header-icon-line;

      &:last-child {
        transform: translateY(-12px) rotate(90deg);
      }
    }

    &.close-btn {
      z-index: 5;
      transition: $transition-3s;
      transform: rotate(45deg);
      transform-origin: right;

      .contact-icon-line {
        background: $white;
      }
    }
  }

  .header-contact {
    @extend %header-menu-wrapper;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.contact-on {
      width: 30%;
      transition: $transition-3s;

      @include for-size(large-width){
        width: 50%;
      }

      @include for-size(small-width){
        width: 100%;
      }
    }

    .contact-container {
      width: 70%;
      min-width: 200px;

      .contact-info-items {
        text-align: center;

        &::after {
          content: '';
          width: 100%;
          height: 1px;
          display: inline-block;
          background: $white;
          margin: 5em auto 2em;
        }
      }

      .contact-info-items .contact-info-item {
        font-size: 13px;
        line-height: 2;
        color: $white;

        &:nth-child(2){
          text-transform: uppercase;
          font-size: 15px;
        }

        .contact-info-img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin-bottom: 30px;
        }
      }

      .contact-sns-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
      }

      .contact-sns-items .contact-sns-item > a {
        @extend %header-menu-link;
        font-size: 1.5em;

        i {
          font-size: 20px;
        }

        &:hover {
          color: $black;
          transition: color .3s ease;
        }
      }
    }
  }
}

.main-container {
  min-height: 100%;
  margin: 0 auto;

  .main-title-contents {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    @extend %main-contents-animation;

    @include for-size(medium-width) {
      align-items: baseline;
    }

    .title-text {
      position: relative;
      transform: rotate(-90deg);
      transform-origin: 30% bottom;
      text-transform: uppercase;
      font-family: $sans-serif;
      font-weight: 700;

      @include for-size(medium-width) {
        transform: none;
        top: 17%;
      }

      @include for-size(small-width) {
        top: 15%;
      }

      .sub-title {
        font-size: 6em;
        color: $custom-yellow;

        @include for-size(medium-width) {
          font-size: 7em;
        }

        @include for-size(small-width) {
          font-size: 4em;
        }
      }

      .main-title {
        position: absolute;
        top: 30%;
        font-size: 3em;

        @include for-size(medium-width) {
          top: 38%;
          font-size: 4em;
        }

        @include for-size(small-width) {
          font-size: 2em;
        }
      }

      p {
        font-size: 1.5em;
        margin-top: 1em;

        @include for-size(small-width) {
          font-size: 1em;
        }
      }
    }

    .title-image {
      max-width: 130px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-20%, -50%, 0);

      @include for-size(medium-width) {
        transform: translate3d(-20%, -25%, 0);
      }

      @include for-size(small-width) {
        max-width: 100px;
        transform: translate3d(-20%, -30%, 0);
      }
    }

    .title-keyword {
      position: relative;
      text-transform: uppercase;
      font-family: $sans-serif;
      font-weight: 700;

      @include for-size(medium-width) {
        top: 70%;
        right: 8%;
      }

      @include for-size(small-width) {
        position: absolute;
        top: 73%;
        right: 15%;
      }

      .keyword {
        position: absolute;

        @include for-size(small-width) {
          top: auto;
        }

        li {
          line-height: 1.2;
          font-size: 1.5em;

          @include for-size(small-width) {
            font-size: 1em;
          }
        }
      }

      span {
        opacity: 0.3;
        display: inline-block;
        transform: rotate(90deg);
        transform-origin: -13px;

        @include for-size(small-width) {
          font-size: 0.8em;
          transform-origin: -8px;
        }
      }
    }
  }

  .main-about-section {
    margin: 5em auto;
    padding: 5em 0; 

    @include for-size(small-width) {
      text-align: center;
    }

    .main-about-contents {
      width: 80%;
      margin: 0 auto;
      pointer-events: none;
      text-align: center;
      @extend %main-contents-animation;

      .about-title {
        position: relative;
        font-size: 5em;
        font-family: $sans-serif;
        color: $black;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @include for-size(large-width){
          font-size: 4em;
        }
        @include for-size(medium-width){
          font-size: 3em;
        }

        span {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 100%;
          color: $custom-yellow;
          z-index: -1;
        }
      }

      .about-desc {
        font-size: 0.8em;
        line-height: 1.8;
        color: $custom-bold-gray;
        font-family: $sans-serif-ko;
        margin-top: 20px;
        text-align: center;

        @include for-size(medium-width){
          font-size: 0.5em;
        }

        .desc-title {
          display: block;
          font-size: 13px;

          @include for-size(medium-width){
            font-size: 11px;
          }
        }

        .about-keyword {
          font-size: 1.5em;
          color: $black;
          font-family: $sans-serif;
          text-transform: uppercase;
          font-weight: 500;
          padding: {
            left: 6px;
            right: 3px;
          }

          @include for-size(xsmall-width){
            font-size: 1.8em;
          }
        }
      }
    }
  }
  

  .main-work-contents {
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5em;   
    margin: 0 auto;

    .work-img-box {
      position: relative;
      width: 40%;
      height: 50vh;
      max-height: 600px;
      justify-content: center;
      cursor: none;
      overflow: hidden;
      border-bottom: 5px solid $custom-yellow;
      @extend %main-contents-animation;

      @include for-size(medium-width) {
        width: 85%;
        margin-bottom: 3em;
      }

      &:nth-child(even) {
        margin-top: 5em;

        @include for-size(medium-width) {
          margin-top: 0;
        }
      }
      

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease-in-out;
      }

      .work-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 110%;
        width: 100%;

        

        @each $item in lv, business, apple, netflix, lottery, watch {
          &.work-#{$item} {
            background: url(../img/work-#{$item}.jpg) no-repeat center center;
            background-size: cover;
          }
        }
      }
      

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        font-size: 2em;
        font-family: $sans-serif;
        color: $black;
        font-weight: 700;
        background: $custom-yellow;
        padding: 5px 10px;
        opacity: 0;
        pointer-events: none;

        @include for-size(large-width) {
          font-size: 1.5em;
        }
      }
    }
  }

  .main-contact-section {
    padding: 15em 0 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $sans-serif;
    height: 50vh;

    .main-contact-contents{
      
      .contact-text {
        position: relative;

        h2 {
          font-weight: 700;
          font-size: 6em; 
          text-transform: uppercase;

          @include for-size(small-width){
            font-size: 4em; 
          }
          
          span {
            position: absolute;
            z-index: -1;
            color: #f3d971;
            top: 5px;
            left: 5px;
          }
        }
      }

      .contact-sci {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 3em;
        justify-content: space-between;

        li{
          font-size: 1.5em;
          
          i {            
            color: $black;
            transition: color .3s ease;
          }

          &:hover {
            i{
              color: $custom-yellow;
              transition: color .3s ease;
            }
          }
        }

        li:first-child {
          width: 100%;
          text-transform: uppercase;
          color:$black;
          font-size: 1em;
          border-bottom: 5px solid $custom-yellow;
          padding-bottom: 2em;
          margin-bottom: 2em;
        }
      }
    }
  }
}


.footer {
  background: $custom-yellow;

  .footer-container {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 13px;
    color: $black;

    @include for-size(small-width){
      flex-wrap: wrap;
      justify-content: center;
      line-height: 1.5;
    }

    .footer-items {
      display: flex;
      justify-content: space-between;

      @include for-size(small-width){
        width: 80%;
      }

      a {
        margin-right: 3em;
        color: $black;

        @include for-size(small-width) {
          margin-right: 1em;
        }
      }
    }

    p {
      text-transform: uppercase;
      pointer-events: none;
    }
  }
}


