@import "./includes/_config.scss";


.wrap {
  width: 100%;
  min-height: 100%;
  background-color: #212121; 
  display: flex;
  justify-content: center;
  align-items: center;

  .intro-container {
    font-family: $monospace;
    font-size: 2em;

    .intro-text {
      font-weight: 300;
      color: #fafafa;
    }
  }
}

