@import "./includes/_config.scss";

%lottery-btn {
  border: none;
  padding: 10px 20px;
  background: $custom-light-blue;
  border-color: $custom-medium-blue;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: background .3s ease;

  @include for-size(large-width) {
    width: 100%;
  }

  &:hover {
    background: $custom-dark-blue;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  
  @include for-size(medium-width) {
    flex-wrap: wrap;
  }

  .lottery-section {
    width: 60%;

    @include for-size(large-width) {
      width: 50%;
    }

    @include for-size(medium-width) {
      width: 100%;
      order: 2;
    }

    .lottery-container {
      position: fixed;
      width: 60%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: lotteryBgGradient 15s ease infinite;

      @include for-size(large-width) {
        width: 50%;
      }

      @include for-size(medium-width) {
        position: relative;
        width: 100%;
      }
    
      .lottery-contents {
        width: 90%;
        height: 80vh;
        border-radius: 10px;
        box-shadow: 0px 3px 8px $custom-dark-blue;
        padding: 3em;
        box-sizing: border-box;
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        overflow-y: auto;

        .lottery-items {
          width: 100%;
        
        }

        &::-webkit-scrollbar {
          width: 5px;
          background: $custom-light-gray;
        }
        
        &::-webkit-scrollbar-thumb {
          background: $custom-turquoise-blue;
          border-radius: 8px;
        }
        &::-webkit-scrollbar-track {
          background: $custom-light-gray;
        }
      }

      .purchase-contents {
        .purchase-price-input {
          background: none;
          border: none;
          border-bottom: 1px solid #ddd;
          width: 40%;
          transition: .3s all ease;
          padding-bottom: 8px;
          font-size: 16px;
          padding-left: 10px;
          margin-right: 10px;
          box-sizing: border-box;
          

          @include for-size(large-width) {
            width: 100%;
            margin-bottom: 10px;
            font-size: 13px;
          }

          &::placeholder {
            color: $custom-light-gray;
          }

          &:focus {
            outline: none;
            border: {
              bottom : 1px solid;
              color: $custom-light-blue;
            }
          }
        }
        .purchase-btn{
          @extend %lottery-btn;

          &.disabled {
            background: $custom-dark-blue;
            cursor: default;
          }
        }
      }

      .my-lottery-contents {
        .my-lottery-title {
          font-size: 1.7em;
          font-family: $monospace;
          letter-spacing: -1px;
          text-transform: uppercase;
          color: $custom-light-gray;
          margin: 1em 0;

          @include for-size(large-width) {
            font-size: 1.3em;
          }
        }
        .my-lottery-items {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .my-lottery-item{
            border: {
              top: 1px solid $custom-light-gray;
              bottom : 2px solid $custom-light-gray;
            }
            margin: 10px 0;
            padding: 1em 0;

            .lottery-number {
              display: inline-block;
              width: 30px;
              height: 30px;
              font-size: 14px;
              border: 1px solid #333;
              border-radius: 50%;
              line-height: 2.2;
              margin: 0 5px;

              @include for-size(xlarge-width){
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 1.6;
              }

              &.wins {
                background-color: steelblue;
                color: $white;
              }
            }
          }
        }
      }

      .confirm-contents {
        .confirm-btn {
          @extend %lottery-btn;

          &.disabled {
            background: $custom-dark-blue;
            cursor: default;
            display: none;
          }
        }
        .lucky-number-items {
          .my-lottery-item {
            text-align: center;
            margin: 10px 0;
            padding: 1em;

            @include for-size(large-width) {
              padding: 1em 0;
            }

            .lottery-number {
              display: inline-block;
              margin: 0 10px;
              width: 30px;
              height: 30px;
              border: 1px solid #accbee;
              border-radius: 50%;
              line-height: 1.8;
              text-align: center;
              background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
              color: $custom-dark-blue;
              font-weight: 600;

              @include for-size(large-width) {
                margin: 0 4px;
              }
            }
          }
        }
      }

      .result-contents {
        .result-content-items {
          text-align: justify;
          .wins-text-title{
            color: $custom-dark-blue;
            font-size: 13px;
            border-bottom: 1px solid;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
          .wins-text {
            font-size: 13px;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .desc-section {
    width: 40%;
    
    @include for-size(large-width) {
      width: 50%;
    }

    @include for-size(medium-width) {
      width: 100%;
      order: 1;
    }

    .desc-title {
      background: $custom-light-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3em;
      box-sizing: border-box;

      @include for-size(medium-width) {
        padding: 2em;
      }
      
      h2 {
        color: rgba(255,255,255,0.4);
        font-size: 4em;
        font-family: $serif;

        @include for-size(xlarge-width){
          font-size: 3em;
        }
      }
    }

    article {
      padding: 3em;
      color: $black;
      font-family: $sans-serif-ko;

      @include for-size(medium-width) {
        padding: 2em;
      }

      h4 {
        font-size: 1.2em;
        font-family: $sans-serif;
        border-bottom: 2px solid $custom-light-blue;
        padding-bottom: 10px;

        @include for-size(medium-width) {
          font-size: 1em;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 1em;

        @include for-size(xlarge-width) {
          font-size: 14px;
        }

        @include for-size(medium-width) {
          font-size: 13px;
        }

        .point-text {
          color: $custom-dark-blue;
          font-weight: 600;
          border-bottom: 1px solid $custom-dark-blue;
        }

        .fn-text {
          color: $custom-medium-blue;
          font-weight: 600;
        }
      }
    }
  }

  .more-navigation {

    .more-nav-btn {
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 5;
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
      transition: all .3s ease-in-out;

      i {
        font-size: 3em;
        color: $custom-turquoise-blue;
      }

      &.more-nav-on {
        transform: rotate(45deg);
        transition: all .3s ease-in-out;
        top: 20px;
        bottom: auto;
        
        i{
          color: $white;
        }
      }
    }

    .more-nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $custom-turquoise-blue;
      line-height: 3;
      z-index: 2;
      text-align: center;
      transition: width .3s ease-in-out;

      &.more-nav-show {
        width: 40%;
        transition: width .3s ease-in-out;

        @include for-size(large-width) {
          width: 50%;
        }

        @include for-size(medium-width) {
          width: 100%;
        }
      }

      .more-nav-item {
        a {
          color: $white;
          font-size: 15px;
        }
      }
    }
  }
}


