// common
$white : #fff;
$black: #3D3B3E;

// custom pf-main color
$custom-light-gray : #DBDCDD;
$custom-gray : #BBB8BB;
$custom-bold-gray : #7A7378;
$custom-turquoise-blue : #9FC2CB;
$custom-light-turquoise-blue : #D7E9EE;

// custom lottery color
$custom-light-blue: #3385ff;
$custom-medium-blue: #2e77e6;
$custom-dark-blue: #1b4186;