
.desc-section {
  width: 40%;
  
  @include for-size(large-width) {
    width: 50%;
  }

  @include for-size(medium-width) {
    width: 100%;
    order: 1;
  }

  .desc-title {
    background: $custom-light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    box-sizing: border-box;

    @include for-size(medium-width) {
      padding: 2em;
    }
    
    h2 {
      color: rgba(255,255,255,0.4);
      font-size: 4em;
      font-family: $serif;

      @include for-size(xlarge-width){
        font-size: 3em;
      }
    }
  }

  article {
    padding: 3em;
    color: $black;
    font-family: $sans-serif-ko;

    @include for-size(medium-width) {
      padding: 2em;
    }

    h4 {
      font-size: 1.2em;
      font-family: $sans-serif;
      border-bottom: 2px solid $custom-light-blue;
      padding-bottom: 10px;

      @include for-size(medium-width) {
        font-size: 1em;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 1em;

      @include for-size(xlarge-width) {
        font-size: 14px;
      }

      @include for-size(medium-width) {
        font-size: 13px;
      }

      .point-text {
        color: $custom-dark-blue;
        font-weight: 600;
        border-bottom: 1px solid $custom-dark-blue;
      }

      .fn-text {
        color: $custom-medium-blue;
        font-weight: 600;
      }
    }
  }
}
.more-navigation {
  .more-nav-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 5;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-in-out;

    i {
      font-size: 3em;
      color: $custom-turquoise-blue;
    }

    &.more-nav-on {
      transform: rotate(45deg);
      transition: all .3s ease-in-out;

      @include for-size(medium-width){
        top: 20px;
        bottom: auto;
      }
      
      i{
        color: $white;
      }
    }
  }

  .more-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $custom-turquoise-blue;
    line-height: 3;
    z-index: 3;
    text-align: center;
    transition: width .3s ease-in-out;
    overflow: hidden;

    &.more-nav-show {
      width: 40%;
      transition: width .3s ease-in-out;

      @include for-size(large-width) {
        width: 50%;
      }

      @include for-size(medium-width) {
        width: 100%;
      }
    }

    .more-nav-item {
      a {
        color: $white;
        font-size: 15px;
      }
    }
  }
}