@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

$serif : 'Crimson Text', serif;
$sans-serif : 'Roboto', sans-serif;
$monospace : 'Roboto Mono', monospace;
$serif-ko : 'Nanum Myeongjo', serif;
$sans-serif-ko : 'Nanum Gothic', sans-serif;



