@import 'reset-css';
 a{
	 text-decoration: none;
	 color: $black;
 }

 img {
   width: 100%;
 }

 
body::-webkit-scrollbar {
  width: 5px;
  background: $custom-light-gray;
}

body::-webkit-scrollbar-thumb {
  background: $custom-turquoise-blue;
  border-radius: 8px;
}
body::-webkit-scrollbar-track {
  background: $custom-light-gray;
}